<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <!--[formGroup]="recipeForm"  - this tells Angular, that this form is no longer
      managed by Angular automatically, instead of this we will take the management at our own-->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image url</label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img [src]="imagePath.value" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6"
                      formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          Ingredients list
          <div class="row"
               *ngFor="let ingredientControl of recipeForm.get('ingredients').value; let i = index; trackBy: trackByFn"
               [formGroupName]="i">
            <div class="col-8">
              <input
                type="text"
                class="form-control mb-2"
                formControlName="name"
              >
            </div>
            <div class="col-2">
              <input
                type="text"
                class="form-control"
                formControlName="amount"
              >
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger btn-block" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-success mr-2" [disabled]="recipeForm.invalid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
